/* 
RESET
*/

* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    background-color: beige;
    
}

a {
    text-decoration: none;
}

/* 
LAYOUT
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1em;
}

header.nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    float: right;
}

header.nav ul > li {
    margin-left: 40px;
    font-size: 25px;
}

img {
    display: block;
}

table, th, td {
    width: 200px;
    height: 40px;
    text-align: center;
    border: 1px solid;
}

#foot {
    height: 100px;
    text-align: center;
}

/* 
RESPONSIVE
*/

@media only screen and (min-width: 600px) {
        
}
